body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100wh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

h1 {
    font-size: 48px;
    color: #ff3d3d;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

#cookie {
    width: 200px;
    height: 200px;
    background-image: url('img/aardbeiduimpje.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
    margin-bottom: 10px;
    cursor: pointer;
}

#cookie:hover {
    transform: scale(1.1);
}

#score {
    font-size: 28px;
    margin-bottom: 20px;
    color: #ff3d3d;
    font-weight: bold;
}

button {
    background-color: #ff3d3d;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin: 5px;
}

button:hover {
    background-color: #ff6161;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:active {
    transform: scale(0.98);
}

#upgradeButton, #autoClickerButton, #disableAutoClickerButton, #resetButton {
    margin-top: 10px;
}

h2 {
    margin-top: 30px;
    color: #333;
    font-size: 24px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

#upgradeCount, #autoClickerCount {
    color: #ff3d3d;
    font-weight: bold;
}